body {
	background: url("../images/curtainImage.png") no-repeat center center fixed;
/*	background-size: cover;*/
	height: 100vh;
	width: 100vw;
	background-size: 100;
	text-align: center;
	background-color: black;
}

@media screen and (max-width: 500px) {
	body {
		background-color: green;
	}

	h1 {
		text-align: center;
	}

	.images {
		display: inline-block;
	}
}

@media screen and (min-width: 500px){
	@keyframes dropDown {
		0% {transform: translateX(60%);color: black;}
		25% {transform: translateX(80%);color: white;}
		50% {transform: translateX(100%);color: black;}
		75% {transform: translateX(80%);color: white;}
		100% {transform: translateX(60%);color: black;}
	}
	@keyframes moveBalls {
		0% {opacity: .9; color: black;}
		25% {opacity: .5; color: white;}
		50% {opacity: 0; color: gold;}
		75% {opacity: .5; color: white;}
		100% {opacity: .9; color: black;}
	}

	div .dot {
		height: 150px;
		width: 150px;
		background-color: gold;
		border-radius: 50%;
		position: fixed;
		filter: blur(15px);
		animation-name: moveBalls;
	    animation-duration: 4s;
	    animation-direction: alternate;
	    animation-iteration-count: infinite;
	    z-index: 2;
	}

	div #dot1 {
		height: 300px;
		width: 300px;
		animation-duration: 8s;
	}

	div #dot2 {
		height: 75px;
		width: 75px;
		animation-duration: 2s;
	}

	div #dot3 {
		animation-duration: 4s;
	}

	div #dot4 {
		height: 75px;
		width: 75px;
		animation-duration: 1s;
	}

	div #dot5 {
		height: 250px;
		width: 250px;
		animation-duration: 6s;
	}

	div #dot6 {
		height: 125px;
		width: 125px;
		animation-duration: 3s;
	}
}
h1 {
	position: absolute;
	color: white;
	height: 5vh;
	width: 40vw;
	top: 30%;
	transform: translateY(-50%);
	animation-name: dropDown;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}



h2 {
	color: white;
	font-family: 'Rammetto One', cursive;
}

h4 {
	color: white;
	font-family: 'Nanum Pen Script', cursive;
}

button {
	background-color: white;
	border: 2px solid gray;
	border-radius: 15px;
	font-size: 16px;
	box-shadow: 0 8px 16px rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	transition-duration: 0.4s;
	cursor: pointer;
}

#nameContainer {
	color: white;
}

#passContainer {
	color: white;
}

#firstVisit {
	color: white;
	font-family: 'Gochi Hand', cursive;
	font-size: 24px;
}

.images {
	display: inline-block;
	position: relative;
	max-width: 20%;
	max-height: 15%;
	float: left;
    margin: auto;
    border-radius: 40%;
    left: 20%;
    top: 300px;
    margin: 3%;
}

.images:hover {
	box-shadow: 0px 0px 900px 0px rgba(255, 255, 255, 0.9);
}

#firstVisit {
	text-size: 42px;
}

#gameText {
	color: white;
	display: inline-block;
	text-align: center;
	width: 100px;
	float: left;
	margin: auto;
	top: 200px;
}