/*background image from: http://nigerianembassy.nu/green-pattern-wallpapers-backgrounds-for-powerpoint-4/*/

html, body {
	background: url('../images/CardGameImages/PNG/cardTable.png') no-repeat center center fixed;
	padding: 0;
	margin: 0;
	height: 100%;
}

h1 {
	text-align: center;
	font-family: 'Shrikhand', cursive;
}

h2 {
	text-align: center;
	font-family: 'Poiret One', cursive;
}

h4 {
	text-align: center;
	font-family: 'Poiret One', cursive;
}

img {
	height: 150px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

button {
	margin-left: auto;
	margin-right: auto;
	background-color: grey;
	border-radius: 25%;
	padding: 5px;
	margin: 5px;
}

#spacer {
	height: 25px;
}

#betButt {
	background-color: white;
	border-radius: 8px;
}

#changeCardsButt {
	text-align: center;
	background-color: white;
	border-radius: 8px;
	margin-left: auto;
	margin-right: auto;
}

#bet {
	color: lightgrey;
	font-family: 'Indie Flower', cursive;
}

#hitOrStay {
	text-align: center;
}

/*
** layering implementation courtesy of https://stackoverflow.com/questions/48474/how-do-i-position-one-image-on-top-of-another-in-html
*/
#betMid {
	position: relative;
	top: 0;
	left: 0;
}

.circle-image {
	height: 300px;
	width: 300px;
	position: relative;
	top: 0;
	left: 0;
	box-shadow: 5px 5px 5px rgba(34,34,34,0.9);
	border-radius: 8px;
}

.bet-image {
	position: absolute;
	top: 20%;
	left: 45%;
}

#topCardImages {
	width: 100%;
	text-align: center;
}

#bottomCardImages {
	width: 100%;
	text-align: center;
}

#topCardImages img {
	display: inline-block;
	width: 400px;
	height: 200px;
}

#bottomCardImages img {
	display: inline-block;
	width: 400px;
	height: 200px;
}

#playingBoard {
	text-align: center;
}

#playerBottom{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -2px;
}

#dough {
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

#winLoose {
	text-align: center;
	color: white;
	font-family: 'Lobster', cursive;
}

#playAgain {
	text-align: center;
	color: white;
	font-family: 'Lobster', cursive;
}

#money {
	text-align: center;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

#betNumber {
	width: 50px;
}

.selected {
	box-shadow: 10px 10px .75px rgba(34,34,34,0.9);
}