body {
	background-color: #F0F8FF;
}

img {
	width: 2em;
	height: 2em;
}

#game-board {
	display: grid;
	grid-template-columns: repeat(10, [col-start] 1fr);
	grid-gap: 5px;
}

h1 {
	font-family: 'Pacifico', cursive;
	text-align: center;
}

h3 {
	font-family: 'Shadows Into Light', cursive;
	text-align: center;
}